body{
    font-family: Tahoma;
    background: #FFFAFA;
    margin: 0;
    background-image: url(../Img/fon.png);
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    
}

button {
    cursor: pointer;
    padding: 10px 30px;
    height: 50px;
    color: #fff;
    background: #00ff7f;
    border-radius: 20px/20px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button:hover {
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}


div.slovo{
    position: fixed;
    margin-top: 100px;
    margin-left: 30px;
}

