body {
    font-family: Tahoma;
    background: #FFFAFA;
    margin: 0;
    background-image: url(../Img/Lala.jpg);
}
.button1 a{
 	
 	text-decoration:none;
 	color:#b3bbff;
 	padding: 10px 30px;
	background-color: #00FFFF;
	font-size:20px;
	border-radius: 20px;
	

 }
 .button1 a:hover{
 	background-color: white;
 }
